/* Move down content because we have a fixed navbar that is 3.5rem tall */
/*html, body { overflow-x: hidden; } */

ul.navbar-nav ,div.dropdown-menu {
	font-size: 14px;
}

ul.navbar-nav ,.jumbotron h1{
	font-family: 'Arvo', courier, serif;
}

.jumbotron{
	text-align: center;
	background-color: #2DA18A;
	/*background: url("../images/jumbo_back_original.png") no-repeat scroll center top/cover transparent;*/
	background-position: right 0px top 20%;
	color: white;
}


.jumbotron h1{
	padding: 20px;
	margin-bottom: 50px;
}


.jumbotron p{

	margin-bottom: 30px;
	font-weight: 100;
	padding: 0px 50px;
}
.btn-lg{
	font-size: 24	px;
}

.emphasis{
	color: #2DA18A;
}

.homepage{
	margin-top: 60px;
	text-align: center;
}

.homepage h2,h3{
	color: #2DA18A;
	text-transform: uppercase;
	font-family: 'Arvo', courier, serif;
	
}

.homepage h2{
	font-size: 30px;
}


.homepage h3{
	font-size: 26px;
}

.homepage p{
	font-weight: 300;
	font-size: 21px;
}

.homepage hr{
	border-color: #2DA18A;
	width: 170px;
	margin-top: 15px;
}
