/* Move down content because we have a fixed navbar that is 3.5rem tall */
/*html, body { overflow-x: hidden; } */

ul.navbar-nav ,div.dropdown-menu {
	font-size: 14px;
}

ul.navbar-nav ,.jumbotron h1{
	font-family: 'Arvo', courier, serif;
}

.jumbotron{
	text-align: center;
	background-color: #2DA18A;
	/*background: url("../images/jumbo_back_original.png") no-repeat scroll center top/cover transparent;*/
	background-position: right 0px top 20%;
	color: white;
}


.jumbotron h1{
	padding: 20px;
	margin-bottom: 50px;
}


.jumbotron p{

	margin-bottom: 30px;
	font-weight: 200;
	padding: 0px 50px;
}
.btn-lg{
	font-size: 24	px;
}

.emphasis{
	color: #2DA18A;
	font-size: 20px;
}
